@import url('https://fonts.googleapis.com/css?family=Cabin|Sanchez');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Montserrat|Playfair+Display|Raleway|Roboto+Slab:100');

a {
  padding: 10px;
}

a:hover {
  padding:10px;
  color:#ff006e;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h1 {
  font-family: 'Playfair Display', serif;
}

h2 {
  font-family: 'Playfair Display', serif;
  padding-top: 10px;
}

h3 {
  font-family: 'Playfair Display', serif;
}

.container {
  display: flex;
  justify-content:center;
  flex-direction: column;
  padding: 10px;
  max-width:75%;
}
